#head1{
    color: #1f4068;
    text-align: center;
}
#head2{
    color: #1f4068;
}
.card-text{
    color: #1f4068;
    font-size: medium;
    font-weight: normal;
}
.text{
    color: #1f4068;
    font-size: medium;
    font-weight: normal;
}