<!DOCTYPE html>
<html>
    <head>
      <title>Angry nerds</title>
      <link rel="stylesheet" href="main.css">
      <link rel="stylesheet" href="articles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light scrolling-navbar">
            <a class="navbar-brand nav-item" id="nav" href="index.html"><img src="top6.svg" height=60 width=70></a>
            <a class="navbar-brand nav-item" id="nav" href="index.html">Angry nerds</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active" >
                  <a class="nav-link" href="index.html" id="nav">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="articles.html" id="nav">Articles</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="forum.html" id="nav">Forum</a>
                </li>
              </ul>

            </div>
          </nav>
    </head>
  <body>
<br>
<br>
<br>
<br>

<br>
<br>
<h2 id="head1">Discover the phenomenon!</h2>
<hr> 
<br>
<div class="container">
<h3 id="head2">
    Grown-ups section
</h3></div>
   <section class="db">
        <div class="container">
          
          <div class="row">
           
            <div class="col-sm-4">
              <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="1.png" alt="">
                <div class="card-body">
                  <p class="card-text"><b>Aqua, Latin for water,</b> is a NASA Earth Science satellite project named for the vast volume of knowledge that the agency is obtaining about the Earth's water 
                    cycle, including evaporation from the oceans, water vapour in the atmosphere, rain, precipitation, surface moisture, sea ice, ground ice, and snow cover on the ground and ice. 
                    Additional variables now being measured by Aqua include radiative energy fluxes, 
                    aerosols, plant cover on the ground, phytoplankton and dissolved organic matter in
                    in the oceans, and air, land, and water temperatures.
                    <hr>
                    <span class="text"> 
                    Launched on 4th May 2002, Aqua has six Earth tracking platforms on board, which gather a range of global data sets. Aqua was initially established for six years, but this initial target is now greatly surpassed. It continues to relay high-quality data from the AIRS, AMSU, CERES and MODIS instruments as well as reduced quality data from a fifth instrument, AMSR-E. Approximately nine months, but in February 2003 the sixth Aqua instrument, the HSB, collected high-quality data 
                    </span>
                </p>

                </div>
              </div>
            </div>
            <br>
            <div class="col-sm-4">
                <div class="card" style="width: 22rem;">
                  <img class="card-img-top" src="2.png" alt="">
                  <div class="card-body">
                    <p class="card-text"><b>Recent Imagery Incorporating Aqua Data</b> </p>
                  </div>
                </div>
              </div>
              <br>
              <div class="col-sm-4">
                <div class="card" style="width: 22rem;">
                   <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/nUffsylZvXTXy" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/hurricane-nUffsylZvXTXy"></a></p> 
                  <div class="card-body">
                    <p class="card-text"><b>How can Aqua predict a hurricane? </b><hr>
                      <span class="text">  To track oceans and to generate water vapor, Aqua uses infrared wavelengths. The heat of the Sun warms the ocean water and produces steam via evaporation process. As water vapor condenses into the atmosphere, the heat that helps fuel tempests is released.  </span>
                         </p>
                  </div>
                </div>
              </div>
              <br>
              <div class="col-sm-4">
                <div class="card" style="width: 22rem;">
                  <img class="card-img-top" src="3.png" alt="">
                  <div class="card-body">
                    <p class="card-text"><b>What Aqua had discovered about the earth? </b>
                        <hr>
                        <span class="text"> Carbon Monoxide in the Mid-Troposphere over Indonesia Fires, October 26-28, 2015
                       </span>
                            <br>
                            <span class="text">   Widespread forest fires across Indonesia in 2015 destroyed tens of thousands of acres over three months, forcing the Indonesian government to experience high levels of deforestation, loss of life, and billions of dollars. While most fires were meant to clear vegetation during the dry year, a long-term drought worsened by heavy El Niño conditions led to the uncontrolled fires due to lack of rain. 
                        </span>
                                <hr>
                                <span class="text">  The image displays the global concentration of carbon monoxide at the level of 500 hPa or at about 18000 feet (5 500 meters) altitude, using data obtained by AIRS, the atmospheric infrared sounder in NASA's Aqua Satellite.
                        </span>
                                </p>
                  </div>
                </div>
              </div>
              <br>
              <div class="col-sm-4">
                <div class="card" style="width: 22rem;">
                  <img class="card-img-top" src="4.png" alt="">
                  <div class="card-body">
                    <p class="card-text"><b>Silty Alaskan Skies</b>
                        <hr>
                        <span class="text"> 
                        A silty powder with grains finer than sand is formed when glaciers scrape against the underlying bedrock. Geologists call it "glacial flour" or "rock flour." This material rich in iron and feldspar also makes its way into rivers and streams, turning the dark, grey, or aqua water. On riverbanks and deltas, when water levels are low, the flour can dry out and become dust for winds to carry into the air.
                        That's what happened on October 28, 2014, when this shot of northern winds blowing dust from the Copper River Delta over the Gulf of Alaska was taken by the Moderate Resolution Imaging Spectroradiometer ( MODIS) on the NASA Aqua satellite. Dust incidents are most frequent in this region in the fall, when river and lake levels are at their lowest in south-central Alaska. In late winter and early spring, another phase of heavy dust activity occurs.
                       </span>
                    </p>
                  </div>
                </div>
              </div>
              <br>
              <div class="col-sm-4">
                <div class="card" style="width: 22rem;">
                  <img class="card-img-top" src="5.png" alt="">
                  <div class="card-body">
                    <p class="card-text"><b>Dust over the Red Sea</b>
                        <hr>
                        <span class="text"> 
                        This natural-color image of a dust plume flowing over the Red Sea was taken by the Moderate Resolution Imaging Spectroradiometer ( MODIS) on NASA's Aqua satellite on September 1, 2012. The dust mixed over Sudan with the top of the ground below, discernible only by its blurry shape (upper left corner). Immediately off the Sudan coast, the dust was dense, but thinned slightly to the southeast (seen in the high-resolution image). 
                        </span>
                        <hr>
                        <span class="text"> 
                        The Sahara Desert and the Arabian Peninsula rank as the most prolific dust-producing areas in the world on either side of the Red Sea. The dust in this picture originated in northeastern Africa, where fine sediments that can be quickly lofted into the air have been formed by a network of impermanent rivers. 
                      </span>
                    </p>
                  </div>
                </div>
              </div>
              <br>
            
          </div>
          
        </div>
      </section>
      <footer class="text-muted text-center">
        <div class="container">
      
          
          <p>© Angry Nerds 2020</p>
        </div>
      </footer>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      </body>
  </html>