<!DOCTYPE html>
<html>
    <head>
      <title>Angry nerds</title>
      <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light scrolling-navbar">
            <a class="navbar-brand nav-item" id="nav" href="index.html"><img src="top6.svg" height=60 width=70></a>
            <a class="navbar-brand nav-item" id="nav" href="index.html">Angry nerds</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active" >
                  <a class="nav-link" href="index.html" id="nav">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="articles.html" id="nav">Articles</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="forum.html" id="nav">Forum</a>
                </li>
              </ul>

            </div>
          </nav>
    </head>
  <body>

    <div class="info">
        <div class="container">
         <div class="row">
          <div class="col-lg-8 infoimg"> <img src="nav.svg" width="500" height="800"></div>
        
  
          <div class="col-lg-4 text"> <h3>If you are curious,</h3>
          <p class="words">Discover what NASA has about our beloved earth right at your feet
           
          </p>
          <a href="mailto:basmalakamal4444@gmail.com" class="btn  my-2" id="button">Contact Us</a>
        </div>
        </div>
        </div>
      </div>
      
      <section class="db">
        <div class="container">
          
          <div class="row">
           
            <div class="col-sm-4">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="1.png" alt="">
                <div class="card-body">
                  <p class="card-text">Aqua, Latin for water, is a NASA Earth Science satellite project named for the vast volume of knowledge that the agency is obtaining about the Earth's water 
                    cycle, including evaporation from the oceans, water vapour in the atmosphere, rain, precipitation, surface moisture, sea ice, ground ice, and snow cover on the ground and ice. 
                    Additional variables now being measured by Aqua include radiative energy fluxes, 
                    aerosols, plant cover on the ground, phytoplankton and dissolved organic matter in
                    in the oceans, and air, land, and water temperatures.
                    </p>
                </div>
              </div>
            </div>
            <br>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="2.png" alt="">
                  <div class="card-body">
                    <p class="card-text">Launched on 4th May 2002, Aqua has six Earth tracking platforms on board, which gather a range of global data sets. Aqua was initially established for six years, but this initial target is now greatly surpassed. It continues to relay high-quality data from the AIRS, AMSU, CERES and MODIS instruments as well as reduced quality data from a fifth instrument, AMSR-E. Approximately nine months, but in February 2003 the sixth Aqua instrument, the HSB, collected high-quality data </p>
                  </div>
                </div>
              </div>
              <br>
              <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="3.png" alt="">
                  <div class="card-body">
                    <p class="card-text">Recent Imagery Incorporating Aqua Data </p>
                  </div>
                </div>
              </div>
              <br>
              <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="4.png" alt="">
                  <div class="card-body">
                    <p class="card-text">what Aqua had discovered about the earth? 
                        Carbon Monoxide in the Mid-Troposphere over Indonesia Fires, October 26-28, 2015
                        Widespread forest fires across Indonesia in 2015 destroyed tens of thousands of acres over three months, forcing the Indonesian government to experience high levels of deforestation, loss of life, and billions of dollars. While most fires were meant to clear vegetation during the dry year, a long-term drought worsened by heavy El Niño conditions led to the uncontrolled fires due to lack of rain. 
                        </p>
                  </div>
                </div>
              </div>
              <br>
              <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="5.png" alt="">
                  <div class="card-body">
                    <p class="card-text">{{ job.summary }}</p>
                  </div>
                </div>
              </div>
              <br>
              <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="earth.jpg" alt="">
                  <div class="card-body">
                    <p class="card-text">{{ job.summary }}</p>
                  </div>
                </div>
              </div>
              <br>
            
          </div>
          
        </div>
      </section>
      <footer class="text-muted text-center">
        <div class="container">
      
          
          <p>© Angry Nerds 2020</p>
        </div>
      </footer>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      </body>
  </html>